# Entorno virtual
venv/
.venv/

# Cachés de Python
__pycache__/
*.py[cod]

# Base de datos SQLite de desarrollo
*.db

# Migraciones generadas automáticamente
migrations/versions/

# Archivos de editor y sistema
.vscode/
.idea/
*.log
*.tmp
*.bak
.env
