# Entorno virtual
venv/
.venv/

# Cachés de Python
__pycache__/
*.py[cod]

# Base de datos SQLite de desarrollo
*.db

mi_sitio.git/

# Migraciones generadas automáticamente
migrations/versions/

git-filter-repo/
# Archivos de editor y sistema
.vscode/
.idea/
*.log
*.tmp
*.bak
.env
