<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Mi Tienda - Inicio{% endblock %}

{% block content %}

<h2>Lista de productos</h2>
  <section class="categorias">
  <h2>Categorías</h2>
  <section class="categorias">
    <h2>Categorías</h2>
    <div class="contenedor-categorias">
      <a href="{{ url_for('categoria', nombre='brochas') }}">Brochas</a>
      <a href="{{ url_for('categoria', nombre='labiales') }}">Labiales</a>
      <a href="{{ url_for('categoria', nombre='rubores') }}">Rubores</a>
    </div>
  </section>

<ul>
  {% for producto in productos %}
    <li>
      <strong>{{ producto.name }}</strong> - {{ producto.price }} USD
    </li>
  {% else %}
    <li>No hay productos todavía.</li>
  {% endfor %}
</ul>
{% endblock %}