<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Mi Tienda - Inicio{% endblock %}

{% block content %}
<section class="cards-container">
  <div class="card">Continúa donde quedaste</div>
  <div class="card">Envío GRATIS a Colombia</div>
  <div class="card">Zona de envío gratis</div>
  <div class="card">Compra los esenciales para tu hogar</div>
</section>
<h2>Lista de productos</h2>
<section class="categorias">
  <h2>Categorías</h2>
  <div class="contenedor-categorias">
      <div class="categorias">
        <a href="{{ url_for('categoria', nombre='brochas') }}" class="categoria">Brochas</a>
        <a href="{{ url_for('categoria', nombre='bases') }}" class="categoria">Bases</a>
        <a href="{{ url_for('categoria', nombre='labiales') }}" class="categoria">Labiales</a>
        <a href="{{ url_for('categoria', nombre='pestañinas') }}" class="categoria">Pestañinas</a>
        <a href="{{ url_for('categoria', nombre='polvos') }}" class="categoria">Polvos</a>
        <a href="{{ url_for('categoria', nombre='sombras') }}" class="categoria">Sombras</a>
      </div>
</section>
<ul>
  {% for producto in productos %}
    <li>
      <strong>{{ producto.name }}</strong> - {{ producto.price }} USD
    </li>
  {% else %}
    <li>No hay productos todavía.</li>
  {% endfor %}
</ul>
{% endblock %}